# Git
.git
.gitignore
.gitmodules
.github
**/*.md

# Docker
docker-compose.yml
docker-compose-*.yml
docker-compose.yml
docker-compose.yml.in
.docker

# Python
.venv
*.pyc
__pycache__

# Files not used within docker
Makefile
buildspec.yml
.isort.cfg
.pylintrc
.style.yapf

# logs and volumes
logs/
.volumes

# environment
.env.local
.env.ci
minio.env