# Git
.git
.github
.gitignore
.gitmodules
**/*.orig
**/*.md
*.orig

# Docker
docker-compose.yml
docker-compose-*.yml
docker-compose.yml.in
.docker
.dockerignore

# Python
.venv
**/*.pyc
**/__pycache__

# Files not used within docker
service_wmts.py
Makefile
buildspec.yml
.isort.cfg
.pylintrc
.style.yapf

# logs and volumes
logs
.volumes

# environment
.env.*
minio.env

# All hidden files
.*

