[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose2 = "*"
requests-mock = "*"
PyYAML = "~=5.3.1"
gevent = "~=21.1.2"
gunicorn = "~=20.1.0"
Flask = "~=1.1.1"
logging-utilities = "~=1.2.0"
celery = "~=5.0.5"
boto3 = "~=1.17.60"
pyproj = "~=3.0.1"
requests = "~=2.25.1"
gatilegrid = "~=0.2.0"
Pillow = "~=8.2.0"
python-dotenv = "~=0.17.0"
psycopg2 = "~=2.8.6"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-flask = "*"

[requires]
python_version = "3.7"
