[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "~=6.0"
gevent = "~=22.10.2"
gunicorn = "~=20.1.0"
Flask = "~=2.2.5"
logging-utilities = "~=4.0.0"
boto3 = "~=1.26.135"
pyproj = "~=3.2.1"
requests = "~=2.30.0"
gatilegrid = "~=0.2.0"
Pillow = "~=9.5.0"
python-dotenv = "~=0.21.1"
psycopg2-binary = "~=2.9.6"
SQLAlchemy = "~=2.0.13"
Flask-SQLAlchemy = "~=3.0.3"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-flask = "*"
nose2 = "*"
requests-mock = "*"
pylint-sqlalchemy = "~=0.2.0"
pylint-flask-sqlalchemy = "~=0.2.0"
lxml = "*"

[requires]
python_version = "3.11"
