<?xml version="1.0" encoding="UTF-8"?>
<Capabilities xmlns="http://www.opengis.net/wmts/1.0"
              xmlns:ows="http://www.opengis.net/ows/1.1"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:gml="http://www.opengis.net/gml"
              xsi:schemaLocation="http://www.opengis.net/wmts/1.0 http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd"
              version="1.0.0">
    {% include 'StandardHeader.xml.jinja' +%}

    {% set key_value_lang = ''  if is_default_lang == "True" else '?lang=%s' % language %}
    {% set url_path_epsg = '' if is_default_epsg == "True" else 'EPSG/%s/' % epsg %}

    <ows:OperationsMetadata>
        <ows:Operation name="GetCapabilities">
            <ows:DCP>
                <ows:HTTP>
                    <ows:Get xlink:href="{{ url_base }}{{ url_path_epsg }}1.0.0/WMTSCapabilities.xml{{ key_value_lang }}">
                        <ows:Constraint name="GetEncoding">
                            <ows:AllowedValues>
                                <ows:Value>REST</ows:Value>
                            </ows:AllowedValues>
                        </ows:Constraint>
                    </ows:Get>
                </ows:HTTP>
            </ows:DCP>
        </ows:Operation>
        <ows:Operation name="GetTile">
            <ows:DCP>
                <ows:HTTP>
                    <ows:Get xlink:href="{{ url_base }}{{ url_path_epsg }}">
                        <ows:Constraint name="GetEncoding">
                            <ows:AllowedValues>
                                <ows:Value>REST</ows:Value>
                            </ows:AllowedValues>
                        </ows:Constraint>
                    </ows:Get>
                </ows:HTTP>
            </ows:DCP>
        </ows:Operation>
    </ows:OperationsMetadata>
    <Contents>
        {% include 'Layers.xml.jinja' +%}
        {% include 'TileMatrixSet.xml.jinja' +%}
    </Contents>
    {% include 'Themes.xml.jinja' +%}
    <ServiceMetadataURL xlink:href="{{ url_base }}{{ url_path_epsg }}1.0.0/WMTSCapabilities.xml{{ key_value_lang }}"/>
</Capabilities>
